
DATABASE_URL=
PORT=4000

UPSTASH_REDIS_URL=
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
API_BASE_URL=http://localhost:4000

FRONTEND_BASE_URL=http://localhost:5173

CONTENT_ENCRYPTION_KEY=