
DATABASE_URL=
PORT=4000


# UPSTASH_REDIS_URL="rediss://default:gQAAAAAAATs3AAIncDE2Yjg1MzMzMzFhZDI0NGE2OGY5YzRhYTdkODg0ZDQ3YnAxODA2OTU@champion-wombat-80695.upstash.io:6379"
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


CONTENT_ENCRYPTION_KEY=